body{

    background-color: darkgray;
}

.cabecalho {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    background-color: black;
    margin: 0;
    height: 90px;
    width: 100%;
    
 
 }
 
 #menu {
 
     position: fixed;
     top: 2px;
     left: 15px;
     display: flex;
     height: 90px;
 
 }
 
 .listaMenu {
 
     display: block;
     text-align: center;
     top: 9px;
     position: relative;
     text-transform: uppercase;
     transition: 0.5s;
     font-family: 'Courier New', Courier, monospace;
     font-size: 25px;
     
    
 }
 
 .listaMenu li {
 
     display: inline-block;
     margin-right: 90px;
     text-decoration: none;
     
 }

 ul li a{
    color: #fff;
    text-decoration: none;
}
 
 /* inicio da  animação do menu */ 
 
 ul:hover li a {
 
     transform: scale(1.5);
     opacity: 0.5;
     filter: blur(1px);
     text-decoration: none;
 
 }
 
 ul li a:hover {
 
     transform: scale(2);
     opacity: 1;
     filter:blur(0);
     color:#fff;
     text-decoration: none;
 
 
 }
 /* final da animação menu*/



 .Btn {
    top: 220px;
    left: 150px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
  }
  
  .svgContainer {
    position: absolute;
    top: 220px;
    left: 150px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    top: 220px;
    left: 150px;
    position: absolute;
    width: 80px;
    height: 80px;
    background: #181818;
    z-index: -1;
    border-radius: 10%;
    pointer-events: none;
    transition: all .3s;
    
  }
  
  .Btn:hover .BG {

    transform: rotate(35deg);
    transform-origin: bottom;
    
  }
  
  .Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
  }
  